html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: bolder;
    color: white;
}

.container {
    width: 90%;
    height: 70%;
    margin: auto;
    margin-top: 100px;
    background-color: indigo;

    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row nowrap;
}

.item-1, .item-2, .item-3, .item-4 {
    width: 50%;
    height: 50%;
}

.item-1 {
    background-color: brown;
    flex-shrink: 2;
    flex-grow: 2;
}

.item-2 {
    background-color: chartreuse;
    flex-grow: 5;
}

.item-3 {
    background-color: darkgoldenrod;
    flex-shrink: 3;
    order: -1;
}

.item-4 {
    background-color: lightcoral;
}