img {
    width: 400px;
    height: 200px;
    border-style: inset;
    border-color: #FFC300;
    border-width: 10px;
    margin: 150px 30px;
}
p {
    width: 30%;
    background-color: yellow;
    border-style: dashed;
    border-color: #FFC300;
    border-width: 10px;
}
span {
    text-decoration: underline;
    font-weight: bold;
}